@model EmployeeManagementSystem.Data.Models.Employee

<h1>Edit Employee</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CreatedAt" />
    <input type="hidden" asp-for="IsActive" />

    <div>
        <label>Employee Code</label>
        <input asp-for="EmployeeCode"/>
    </div>

    <div>
        <label>Department</label>
        <input asp-for="Department" />
    </div>

    <div>
        <label>Designation</label>
        <input asp-for="Designation" />
    </div>

    <div>
        <label>Phone</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <label>Salary</label>
        <input asp-for="Salary" />
    </div>

    <div>
        <label>Date Of Joining</label>
        <input asp-for="DateOfJoining" type="date" />
    </div>

    <button type="submit">Update</button>
</form>